
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


ul li{
    padding-top: 70px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}